@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
*{
  font-family: 'Assistant', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #f7f7fc;
}

.sidebar-sections {
  display: flex;
  flex-direction: row;

}
.sidebar-component {
  display: flex;
  flex: 1.5;
  height: 100%;
  background-image: white;
}
.all-components {
  display: flex;
  flex-wrap: wrap;
  flex: 8.5;
  justify-content: flex-end;
  padding: 30px;
  align-items: flex-start;
  padding: 5px;
  margin: 0;
}

.endusercomponent{
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}