body {
  margin: 0;
  font-family: "Assistant",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F7FC;
}

code {
  font-family: "Assistant",sans-serif;
}
