.about-page{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #E5E5E5 !important;
}
.contnt-side{
    text-align: right;
    padding: 10px 20px;
    margin: 5px 15px;

}
.love{
    width: 400px;
    height: 400px;
    padding-top: 35%;
}

.AboutText{
    font-size: 22px;
    text-align:justify;
}

.links{
    text-decoration: underline;
}